
.li-nasa {
    margin: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-nasa {
    height: 30%;
    width: 30%;
    object-fit: cover;
    transition: ease-in-out 500ms;
    cursor: pointer;
}

.img-nasa.active {
    width: 70%;
    height: 70%;
}

.info-nasa {
    height: 50%;
    width: 50%;
    background-color: #A496A6;
    z-index: 10;
}

